<footer class="site-footer" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row justify-content-center mb-3 pt-0"> <!-- Уменьшил отступ mb-5 на mb-3 -->
      <div class="col-6 col-md-3 mb-2 mb-md-0"> <!-- Уменьшил отступ mb-4 на mb-2 -->
        <h3 style="font-size: 18px;">Контакты</h3> <!-- Уменьшил размер шрифта -->
        <div class="footer-social">
          <a href="https://www.instagram.com/askar.21/"><span class="icon-instagram"></span></a>
          <a href="https://web.whatsapp.com/"><span class="icon-whatsapp"></span></a>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-12">
        <p class="copyright" style="font-size: 14px;"><small> <!-- Уменьшил размер шрифта -->
          <a>JumysTap</a>
        </small></p>
      </div>
    </div>
  </div>
</footer>
