<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->


  <!-- NAVBAR -->
  <header class="site-navbar mt-3">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="site-logo col-6"><a href="{% url 'jobapp:home' %}">JumysTap</a></div>
        <nav class="mx-auto site-navigation">
          <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
            <li><a href="{% url 'jobapp:home' %}" class="nav-link">Главная</a></li>
              
          </ul>
        </nav>
        <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
          <div class="ml-auto">
            <div class="site-navigation fix">
              <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">

                {% if user.is_authenticated and user.role == 'employer'  %}
                <a href="{% url 'jobapp:create-job' %}"
                  class="js-clone-nav pr-3 btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span
                    class="mr-2 icon-add"></span>Разместить работу</a>

                  
                    <li class="pr-3 has-children">
                      <a>Панель управления</a> 
                      <ul class="dropdown">
                        <li><a href="{% url 'jobapp:dashboard' %}">Панель управления</a></li>
                        <li><a href="{% url 'account:logout' %}">Выйти</a></li>
                      </ul>
                    </li>

                {% elif user.is_authenticated %}

                <li class="pr-3 has-children">
                  <a>Профиль</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'account:edit-profile' request.user.id %}">Изменить данные</a></li>
                  </ul>
                </li>

                <li class="pr-3 has-children">
                  <a>Панель управления</a> 
                  <ul class="dropdown">
                    <li><a href="{% url 'jobapp:dashboard' %}">Панель управления</a></li>
                    <li><a href="{% url 'account:logout' %}">Выйти</a></li>
                  </ul>
                </li>
                <!-- <a href="{% url 'account:logout' %}"
                class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span
                  class="mr-2 icon-lock_outline"></span>Log Out</a> -->
                {% else %}

                <li class="pr-3 has-children">
                  <a>Регистрация</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'account:employer-registration' %}">Работодатель</a></li>
                    <li><a href="{% url 'account:employee-registration' %}">Работник</a></li>
                  </ul>
                </li>

                <a href="{% url 'account:login' %}"
                  class="js-clone-nav btn btn-primary border-width-2 d-none d-lg-inline-block ov-fix"><span
                    class="mr-2 icon-lock_outline"></span>Авторизироваться</a>
                {% endif %}
              </ul>
            </div>

        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span
            class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>
    </div>
  </header>
