{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'images/homepage.jpg' %}');"
    id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">All Applicants </h1>
                <div class="custom-breadcrumbs">
                    <a href="{% url 'jobapp:home' %}">Главная</a> <span class="mx-2 slash">/</span>
                    <a href="{% url 'jobapp:dashboard' %}">Профиль</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Подались </strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <div class="card">
                    <h5 class="card-header text-center mb-5"> Заявки подали </h5>
                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Имя</th>
                                    <th>Название работы</th>
                                    <th>Дата заявки</th>
                                    <th>Посмотреть </th>
                        
                                </tr>
                            </thead>
                            <tbody>
                                {% for applicant in all_applicants %}
                        {{ applicant.get_total_applicant }}

                                <tr>
                                    <td class="text-center"><a href="">{{ applicant.user.get_full_name }}</a></td     >
                                    <td>{{ applicant.job.title }}</td>
                                    <td>{{ applicant.timestamp }}</td>
                                    <td>
                                        <a class="btn btn-info btn-sm" href="{% url 'jobapp:applicant-details' applicant.user.id %}"
                                                role="button">
                                            Ознакомиться
                                        </a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}