{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HOME -->
<section class="home-section section-hero overlay bg-image"
  style="background-image: url('{% static 'images/homepage.jpg' %}');" id="home-section">

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">Быстрый, законный и доступный заработок</h1>
          <p>Помогайте людям своими сильными сторонами и зарабатывайте на своих навыках.</p>
        </div>
        <form method="GET" action="{% url 'jobapp:search_result' %}" class="search-jobs-form">
          {% include 'jobapp/search.html' %}
        </form>
      </div>
    </div>
  </div>

</section>

<section id="ajax_listing_paginattion" class="site-section py-0">
  <div class="container">

    {% if page_obj %}
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2">{{ total_jobs }} Job Listed</h2>
      </div>
    </div>

    <ul id="job" class="job-listings mb-5">
      {% for job in page_obj %}
      <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
        <a href="{% url 'jobapp:single-job' job.id %}"></a>
        <div class="job-listing-logo">
          <img src="{% static 'images/i.jpg' %}" alt="Free Website Template by Free-Template.co"
            class="img-fluid">
        </div>

        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
          <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
            <h2>{{ job.title }}</h2>
            <strong>{{ job.company_name }}</strong>
          </div>
          <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
            <span class="icon-room"></span> {{ job.location }}
          </div>
          <div class="job-listing-meta">
            {% if job.job_type == '1' %}
            <span class="badge badge-success">
              Полный день
            </span>
            {% elif job.job_type == '2'%}
            <span class="badge badge-danger">
              Part Time
            </span>
            {% else  %}
            <span class="badge badge-info">
              Internship
            </span>
            {% endif %}
          </div>
        </div>

      </li>
      {% endfor %}
    </ul>
    {% include 'jobapp/paginator.html' %}
  </div>
  {% endif %}
</section>

<section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('{% static 'images/homepage.jpg' %}');">
  <div class="container">
    {% if request.user.role == "employer" %}
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2 class="text-white">Хотите найти специалиста?</h2>
        <p class="mb-0 text-white lead">Разместите ваш заказ на работу и найдите подходящего специалиста.</p>
      </div>
      <div class="col-md-3 ml-auto">
        <a href="{% url 'jobapp:create-job' %}" class="btn btn-warning btn-block btn-lg">Разместите работу</a>
      </div>
    </div>
    {% elif request.user.role == "employee" %}
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2 class="text-white">Ищете работу?</h2>
        <p class="mb-0 text-white lead">Зарегистрируйтесь на нашей платформе и находите подходящую вам работу.</p>
      </div>
      <div class="col-md-3 ml-auto">
        <a href="{% url 'jobapp:job-list' %}" class="btn btn-warning btn-block btn-lg">Список работ</a>
      </div>
    </div>
    {% else %}
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2 class="text-white">Looking For A Job?</h2>
        <p class="mb-0 text-white lead">Lorem ipsum dolor sit amet consectetur adipisicing elit tempora adipisci
          impedit.</p>
      </div>
      <div class="col-md-3 ml-auto">
        <a href="{% url 'account:employee-registration' %}" class="btn btn-warning btn-block btn-lg">Зарегистрироваться</a>
      </div>
    </div>
    {% endif %}
  </div>
</section>

{% endblock %}

{% block extra_scripts %}
<script>
  $("#ajax_listing_paginattion" ).delegate( "a#ajax_paginator", "click", function( event ) {
    event.preventDefault();
    joblist = ``
    next_paging = ``
    prev_paging = ``
    page_navigator = ``
    var page_ref = $(this).attr('href');
    var page_number = page_ref.slice(6);
    console.log('page_number', page_number);
    $.ajax({
      type: "GET",
      url: "{% url 'jobapp:home' %}", 
      data : {    
        page : page_number, 
      },
      success: function (response) {
        $('#job').html('')
        response.job_lists.map(function (job) {

          joblist+=`
          <li id="next" class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
          <a href="/job/${job.id}/"></a>
          <div class="job-listing-logo">
          <img src="{% static 'images/i.jpg' %}" alt="Free Website Template by Free-Template.co"
          class="img-fluid">
          </div>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
          <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
          <h2>${ job.title }</h2>
          <strong>${ job.company_name }</strong>
          </div>
          <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
          <span class="icon-room"></span>${ job.location } 
          </div>

          <div class="job-listing-meta">
          ${ job.job_type == '1'
          ?  
          `<span class="badge badge-success">
          Full Time
          </span>`
          : 
          job.job_type == '2' 
          ?  
          `<span class="badge badge-danger">
          Part Time
          </span>` 
          :
          `<span class="badge badge-info">
          Internship
          </span>
          `
        }
        </div>
        </div>
        </li>
        ` 
      })

      $('#job').html(joblist)
      response.next_page_number != null ?
      next_paging+=`<a id="ajax_paginator" class="next" href="?page=${ response.next_page_number }">Next</a>`
      : ''

      $('div>#next_page').html(next_paging)
      $('div>.active').removeClass('active')
      $('div>.ajax_paginator_'+response.current_page_no).addClass('active')

      // .attr('href','http://example.com')
      // .removeAttr("href");

      response.current_page_no > 1 ?
      prev_paging+=`<a id="ajax_paginator" href="?page=${ response.prev_page_number }" class="prev">Prev</a>`
      : ''
      $('div>#prev_page').html(prev_paging)

      page_navigator+=`Showing ${ response.current_page_no } of ${ response.no_of_page } Pages`
      $('div>#page_navigator').html(page_navigator)

    },

    error: function () {
      alert('Error Occured');
    }
  });

});  

</script>
{% endblock %}
