{% extends 'base.html' %}
{% load static %}
{% load is_job_already_applied %}
{% load is_job_already_saved %}
{% block content %}
<!-- HOME -->


<section class="section-hero overlay inner-page bg-image"
  style="background-image: url('{% static 'images/homepage.jpg' %}');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">{{ job.title }}</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'jobapp:home' %}">Главная</a> <span class="mx-2 slash">/</span>
          <a href="{% url 'jobapp:job-list' %}">Работы</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>{{ job.title }}</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="site-section">
  <div class="container">
    {% include 'messages.html' %}

    <div class="row align-items-center mb-5">
      <div class="col-lg-8 mb-4 mb-lg-0">
        <div class="d-flex align-items-center">
          <div class="border p-2 d-inline-block mr-3 rounded">
            <img src="{% static 'images/job_logo_2.jpg' %}" alt="Image">
          </div>
          <div>
            <h2>{{ job.title }}</h2>
            <div>
              <span class="ml-0 mr-2 mb-2"><span class="icon-briefcase mr-2"></span><a href="{{ job.url }}">{{ job.company_name }}</a></span>
              <span class="m-2"><span class="icon-room mr-2"></span>{{ job.location }}</span>
              <span class="m-2"><span class="icon-clock-o mr-2"></span>
                <span class="text-primary">

                  {% if job.job_type == '1' %}
                  Полный день
                  {% elif job.job_type == '2'%}
                  Неполный день
                  {% else  %}
                  Обучение или стажировка
                  {% endif %}
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-5">
            {% if user.is_authenticated and user.role == 'employee' %}
                {% is_job_already_saved job request.user as is_saved %}
                {% if is_saved %}
                <span href="#" class="btn btn-block btn-light btn-md"><span
                    class="icon-heart-o mr-2 text-danger"></span>Сохранено</span>
                {% else %}

                <form action="{% url 'jobapp:bookmark-job' job.id %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="job" value="{{ job.id }}">
                  <input type="submit" class="btn btn-block btn-light btn-md" value="Сохранить работу" />
                </form>
                {% endif %}
            
            {% elif request.user.id == job.user.id and  user.role == 'employer'  %}
            <button onclick="call_sw_alert_func('{% url 'jobapp:delete' job.id %}','{{ job.id }}','Вы не сможете позже восстановить удаленную заявку!')" class="btn btn-block btn-danger btn-md">Удалить</button>
                                   
            {% comment %} {% else %}

            <form action="{% url 'jobapp:bookmark-job' job.id %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="job" value="{{ job.id }}">

              <input type="submit" class="btn btn-block btn-light btn-md" value="Сохранить" />
            </form> {% endcomment %}

            {% endif %}

          </div>

        <div class="col-7">
          {% if user.is_authenticated and user.role == 'employee' %}
            {% is_job_already_applied job request.user as is_applied %}
              {% if is_applied %}

              <span  class="btn btn-block btn-danger btn-md">Заявка подана</span>

              {% else %}

              <form action="{% url 'jobapp:apply-job' job.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="job" value="{{ job.id }}">

                <input type="submit" class="btn btn-block btn-primary btn-md" value="Подать заявку" />
              </form>
              {% endif %}
            
          {% elif request.user.id == job.user.id and user.role == 'employer' %}

          <a href="{% url 'jobapp:edit-job' job.id %}" class="btn btn-block btn-light btn-md">Редактировать</a>
           {% else %}
              <a href="{% url 'jobapp:create-job' %}" class="btn btn-block btn-primary btn-md">Разместите вашу работу</a>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="mb-5">
          <!-- <figure class="mb-5"><img src="images/job_single_img_1.jpg" alt="Image" class="img-fluid rounded"></figure> -->
          <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Описание работы</h3>
          {{ job.description | safe }}
        </div>

        <div class="row mb-5">
          <div class="col-6">

            {% if user.is_authenticated and user.role == 'employee' %}
            {% is_job_already_saved job request.user as is_saved %}
            {% if is_saved %}
            <span class="btn btn-block btn-light btn-md"><span class="icon-heart-o mr-2 text-danger"></span>
              Сохраненные работы</span>
            {% else %}

            <form action="{% url 'jobapp:bookmark-job' job.id %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="job" value="{{ job.id }}">
              <input type="submit" class="btn btn-block btn-light btn-md" value="Сохранить" />

            </form>

            {% endif %}

            {% elif request.user.id == job.user.id and user.role == 'employer' %}
            <button onclick="call_sw_alert_func('{% url 'jobapp:delete' job.id %}','{{ job.id }}','Вы не сможете позже восстановить удаленную заявку!')" class="btn btn-block btn-danger btn-md">Удалить</button>
                                   
           {% elif user.role == none %}

            <form action="{% url 'jobapp:bookmark-job' job.id %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="job" value="{{ job.id }}">

              <input type="submit" class="btn btn-block btn-light btn-md" value="Сохранить" />
            </form>

            {% endif %}
          </div>
          {% if user.is_authenticated and  user.role == 'employee' %}
          {% is_job_already_applied job request.user as is_applied %}
          {% if is_applied %}

          <div class="col-6">
            <span class="btn btn-block btn-danger btn-md">Заявка подана</span>
          </div>
          {% else %}
          <div class="col-6">
            <form action="{% url 'jobapp:apply-job' job.id %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="job" value="{{ job.id }}">

              <input type="submit" class="btn btn-block btn-primary btn-md" value="Подать заявку" />
            </form>
          </div>
          {% endif %}

          {% elif  request.user.id == job.user.id and  user.role == 'employer' %}
          <div class="col-6">

            <a href="{% url 'jobapp:edit-job' job.id %}" class="btn btn-block btn-light btn-md">Редактировать</a>
          </div>
          {% elif user.role == none %}
            <div class="col-6">
              <form action="{% url 'jobapp:apply-job' job.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="job" value="{{ job.id }}">

                <input type="submit" class="btn btn-block btn-primary btn-md" value="Подать заявку" />
              </form>
          </div> 
          {% endif %}
        </div>

      </div>
      <div class="col-lg-4">
        <div class="bg-light p-3 border rounded mb-4">
          <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Детали работы</h3>
          <ul class="list-unstyled pl-3 mb-0">
            <li class="mb-2"><strong class="text-black">Опубликовано:</strong> {{ job.timestamp|date:"d M Y" }}</li>
            <li class="mb-2"><strong class="text-black">Занятость:</strong>
              {% if job.job_type == '1' %}
              Полный день
              {% elif job.job_type == '2'%}
              Неполный день
              {% else  %}
              Обучение или стажировка
              {% endif %}
            </li>
            <li class="mb-2"><strong class="text-black">Местоположение:</strong> {{ job.location }}</li>
            <li class="mb-2"><strong class="text-black">Оплата:</strong> {{ job.salary }}</li>
            <li class="mb-2"><strong class="text-black">Крайний срок:</strong> {{ job.last_date|date:"d M Y" }}
            </li>
          </ul>
        </div>

        <div class="bg-light p-3 border rounded">
          <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Поделиться</h3>
          <div class="px-3">
            <a href="https://www.whatsapp.com/?lang=ru_RU" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-whatsapp"></span></a>
            <a href="https://www.instagram.com/" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-instagram"></span></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% if page_obj %}

<section class="site-section" id="next">
  <div class="container">

    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2">{{ total }} Работы которые могут вам интересны</h2>
      </div>
    </div>

    <ul class="job-listings mb-5">
      {% for job in page_obj %}
      <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
        <a href="{% url 'jobapp:single-job' job.id %}"></a>
        <div class="job-listing-logo">
          <img src="{% static 'images/i.jpg' %}" alt="Image" class="img-fluid">
        </div>

        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
          <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
            <h2>{{ job.title}}</h2>
            <strong>{{ job.company_name }}</strong>
          </div>
          <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
            <span class="icon-room"></span> {{ job.location }}
          </div>
          <div class="job-listing-meta">
            <span class="badge badge-danger">
              {% if job.job_type == '1' %}
              Полный день
              {% elif job.job_type == '2'%}
              Неполный день
              {% else  %}
              Обучение или стажировка
              {% endif %}
            </span>
          </div>
        </div>
      </li>
      {% endfor %}


    </ul>


    {% include 'jobapp/paginator.html' %}

  </div>
</section>
{% endif %}
{% endblock content %}
{% block extra_scripts %}
<script src="{% static 'js/sweet-alert.js' %}"></script>
<script src="{% static 'js/sweet-alert-ajax.js' %}"></script>

{% endblock %}
