


  <div class="row mb-5">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <input type="text"  name="job_title_or_company_name" class="form-control form-control-lg" placeholder="Вид работы, название вакансии...">
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <input type="text"  name="location" class="form-control form-control-lg" placeholder="Местоположение">
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <select  name="job_type" class="selectpicker" data-style="btn-white btn-lg" data-width="100%" data-live-search="true"
        title="Вид занятости">
        <option value="1">Полный рабочий день</option>
        <option value="2">Не полный рабочий день</option>
        <option value="3">Обучение или стажировка</option>
      </select>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span
          class="icon-search icon mr-2"></span>Поиск работы</button>
    </div>
  </div>
